/* Add your CSS styles here */
*{
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
  width: 100%;
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.board{
    display: flex;
    align-items: center;
}
.container {
    background-color:rgb(233, 192, 175);
    width: 700px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
}

h1 {
    font-size: 50px;
    font-family: cursive;
    text-decoration: underline;
}
#name-input{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#name-input, #game {

    margin-top: 20px;
}

label, input, button {
    display: block;
    margin: 10px 0;
}

.board {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 20px auto;



    
}

.cell {
    background-color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    cursor: pointer;
    border: 1px solid #333;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#winner,#player1Name,#currentPlayerText,#player2Name {
    font-weight: bold;
    font-size: xx-large;
    font-family: sans-serif;
    margin: 20px 0;
}
#winnner{
    font-size: 100px;
}
#player1Name{
    color: rgb(237, 28, 28);
}
#player2Name{
    color: blueviolet;
}
#currentPlayerText{
color: rgb(101, 99, 99);
}

#restart {
    display: none;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type=text] {
    width: 80%;
    padding: 20px;
    border: 4px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: x-large;
  }
  
  label {
    font-size: xx-large;
    padding: 12px 12px 12px 0;
    display: inline-block;
   
  }
  

  

  button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
  }
  
button:hover{
    background-color: #333333;
}
.cell{
    border: 5px solid black;
    border-radius: 25px;
}
#game{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

  
  
